.list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 32px;
    list-style-type: none;

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1280px) {
        flex-direction: row;
    }
}

.item {
    @media screen and (min-width: 1280px) {
        width: calc((100% - 40px * 2) / 3);
    }
}