.item {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1440px) {


    }
}

.link {
    width: 100%;
    // height: auto;
}

.img {
    width: 100%;
    max-width: 335px;
    height: 320px;
    margin-bottom: 10px;
    border-radius: 18px;

    @media screen and (min-width: 768px) {
        max-width: 450px;
        height: 500px;
        margin-bottom: 24px;
        border-radius: 20px;
    }

    @media screen and (min-width: 1440px) {
        max-width: 552px;
        border-radius: 28px;
        height: auto;
    }
}

.item {

    @media screen and (min-width: 768px) {}
}

h3.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--white);

    @media screen and (min-width: 768px) {
        margin-bottom: 8px;
    }
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #ddd;

    @media screen and (min-width: 768px) {}
}