.item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: var(--white);
    border-radius: 20px;
    padding: 32px 16px;
    width: 100%;

    @media screen and (min-width: 768px) {
        padding: 40px 40px;
    }
}

.comment {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-black);

    @media screen and (min-width: 768px) {
        margin-bottom: 89px;
        font-size: 18px;
    }
}

.descriptionCustomer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: auto;
}

.icon {
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        margin-bottom: 28px;
    }
}

.wrapCustomerText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: var(--dark);

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}


p.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: var(--grey);

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}