.item {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {}
    @media screen and (min-width: 1440px) {
        width: calc((100% - 144px) / 2);
    }
}

.item:nth-child(2n) {

    @media screen and (min-width: 768px) {

        align-self: flex-end;
    }

    @media screen and (min-width: 1440px) {
        align-self: unset;
    }
}

.link {

    @media screen and (min-width: 768px) {}
}

.img {
    width: 100%;
    max-width: 335px;
    margin-bottom: 10px;
    border-radius: 18px;

    @media screen and (min-width: 768px) {
        max-width: 450px;
        margin-bottom: 24px;
        height: 100%;
    }

    @media screen and (min-width: 1440px) {
        max-width: 552px;
    }
}

.item {

    @media screen and (min-width: 768px) {}
}

.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--white);

    @media screen and (min-width: 768px) {}
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #ddd;

    @media screen and (min-width: 768px) {}
}