.h1 {
    font-size: 56px;
    font-style: italic;
    line-height: 1.2;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 120px;
    }
}

.h2 {
    font-size: 56px;
    font-weight: 400;
    font-style: italic;
    line-height: 0.9;
    text-transform: uppercase;
    text-align: left;

    @media screen and (min-width: 768px) {
        font-size: 70px;
        line-height: 1.2;
    }
}

.h2Large {
    font-size: 56px;
    font-weight: 400;
    line-height: 0.9;
    letter-spacing: -1.68px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 120px;
        font-weight: 400;
        line-height: 0.9;
        letter-spacing: -3.6px;
        text-transform: uppercase;
    }
    @media screen and (min-width: 1280px) {
        font-size: 130px;
        font-weight: 400;
        line-height: 0.9;
        letter-spacing: -3.9px;
        text-transform: uppercase;
    }
}

.h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 768px) {
        text-transform: none;
    }
}

.h3Italic {
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 0.9;

    @media screen and (min-width: 768px) {
        font-size: 50px;
        font-style: italic;
        font-weight: 400;
        line-height: 0.9;
    }
    @media screen and (min-width: 1280px) {
        font-size: 60px;
        font-style: italic;
        font-weight: 400;
        line-height: 0.9;
    }
}
