.h1 {
  font-size: 56px;
  font-style: italic;
  line-height: 1.2;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 120px;
  }
}

.h2 {
  font-size: 56px;
  font-weight: 400;
  font-style: italic;
  line-height: 0.9;
  text-transform: uppercase;
  text-align: left;

  @media screen and (min-width: 768px) {
    font-size: 70px;
    line-height: 1.2;
  }
}


.h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    text-transform: none;
  }
}