.wrapship {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 63px;
    }
}


.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin: 0 auto 24px;

    overflow: visible;

    @media screen and (min-width: 768px) {
        max-width: 473px;
        margin: 0 auto 32px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 570px;
        margin: 0 auto 40px;
    }
}

.text {
    cursor: pointer;
    text-align: center;
    // font-size: 20px;
    // font-weight: 400;
    // line-height: 1.25;
    color: #101010;

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1280px) {
        // margin-bottom: 28px;
    }
}

.text.active {
    text-decoration: underline;
}

.inputWrap {
    position: relative;
}

.input {
    width: 100%;
    padding: 13px 8px 13px 24px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;

    color: var(--title-color);
    background-color: transparent;

    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;

    &:hover {
        border-color: var(--title-color);
    }

    &:focus {
        outline: none;
        border-color: var(--title-color);
    }

    &:not(:placeholder-shown)~.label,
    &:-webkit-autofill~.label {
        transform: scale(0);
    }
}


.label {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 24px;
    display: flex;
    align-items: center;
    gap: 8px;

    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;

    &::after {
        content: "*";
        display: block;
        color: var(--accent-color);
    }
}

.inputRequire {
    // position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    transform: translate(0, -50%);

    color: var(--accent-color);
}

.input::placeholder {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;
    // background-color: var(--accent-color);
}


.submitBtn {
    width: 100%;
    padding: 8px;

    border: none;
    border-radius: 4px;

    font-family: inherit;
    color: #fff;
    background-color: var(--primary);
    border: 1px solid #000;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:hover {
        cursor: pointer;
        background: transparent;
        color: var(--primary);
    }
}

// .form .invalid {
//     border: 1px solid var(--waring-color);
//     background: #FFE8E8;
// }

.messageFullFields {
    color: var(--waring-color);
    font-size: 14px;
    transform: scale(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    text-align: center;
}

.messageFullFields.visible{
    transform: scale(1);
}
