.containerContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 148px;

    font-weight: 400;
    font-size: 28px;
    line-height: 1.1;
    color: #fff;
}

.email {
    margin-bottom: 24px;
}