.header {
    margin-top: 40px;

    @media screen and (min-width: 768px) {
        margin-top: 32px;
        height: 58px;
    }

    @media screen and (min-width: 1280px) {
      justify-content: flex-start;
    }
}

    .headerButton {
      display: none;

      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        padding: 16px 24px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.6;

        text-transform: uppercase;
        color: var(--primary);
        border: 1px solid #fff;
        border-radius: 32px;
      }
      
       @media screen and (min-width: 1280px) {
        margin-left: auto;
      }
    }


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

     @media screen and (min-width: 1280px) {
       display: flex;
       justify-content: flex-start;
    }
}

.nav {
  margin-top: 8px;
    @media screen and (min-width: 1280px) {
      margin-left: 60px;
    }
}
